{% extends "base.html" %}

{% block title %}Beranda - Dian Rafiyq{% endblock %}
{% block head %}{% include "head.html" %}{% endblock %}

{% block content %}
  <article id="index">
    {% include "components/occasion.html" %}
    {% include "components/countdown.html" %}
    {% include "components/greeting.html" %}
    <a
      class="btn-primary"
      href="https://www.canva.com/design/DAGPJGkYrxY/neNxNRP41fTMZ_6iSxgbHA/watch?utm_content=DAGPJGkYrxY&utm_campaign=designshare&utm_medium=link&utm_source=editor"
    >
      Buka Undangan
    </a>
    {% call super() %}
  </article>
{% endblock %}