{% if let Some(guest) = guest %}
<section id="greeting">
  <p class="font-bold">Kepada Yang Terhormat</p>
  <p>Bapak/Ibu/Saudara/i</p>
  <div class="guest-box">
    {% if !guest.title.is_empty() %}
      <h6>{{ guest.title }}</h6>
    {% endif %}
    <h5>{{ guest.fullname }}</h5>
    <p>di</p>
    <h7>{{ guest.address }}</h7>
    <p>Pukul {{ guest.session }}</p>
  </div>
  <p class="text-[0.5rem] overline">Mohon Maaf Bila Terdapat Kesalahan dalam Penulisan Nama dan Gelar</p>
</section>
{% endif %}