{% if let Some(guest) = guest %}
<section id="greeting">
  <p class="font-bold leading-none">Kepada Yang Terhormat</p>
  <p>Bapak/Ibu/Saudara/i</p>
  <div id="guest-box">
    {% if !guest.title.is_empty() %}
      <h6 class="font-normal">{{ guest.title }}</h6>
    {% endif %}
    <h6 class="font-['Merriweather'] font-extrabold">{{ guest.fullname }}</h5>
    <p>di</p>
    <h7 class="font-normal">{{ guest.address }}</h7>
    <p>Pukul {{ guest.session }}</p>
  </div>
  <p class="text-[0.5em] overline">Mohon Maaf Bila Terdapat Kesalahan dalam Penulisan Nama dan Gelar</p>
</section>
{% endif %}